adb-shell
aiofiles
aiogithubapi
aiohttp
anyio
apprise
arpreq
beautifulsoup4
black
certifi
cffi
charset-normalizer
click
colorama
coverage
cryptg
cryptography
cymruwhois
dataclasses-json
decorator
deepface
deepspeech
detect-simd
dnspython
docker
fastai
fastapi
fastapi-cache2
fastapi-mqtt
ffmpeg
ffmpeg-python
flake8
flask
flask-restful
flet
fonttools
geographiclib
geopy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-cloud-speech
google-cloud-translate
google-play-scraper
google_trans_new
h11
heyoo
httpx
hypercorn
idna
ipython
jinja2
joblib
json5
jsonlines
jupyterlab
larynx
locationsharinglib
loguru
lxml
ma-nish
mac-vendor-lookup
markdown
marko
matplotlib
mkdocs
mypy
mysql-connector-python
nest_asyncio
networkx
num2words
numpy
openai
openai-whisper
opencv-python
opencv-python-headless
packaging
paho-mqtt
pandas
pdfplumber
phonenumbers
pillow
plotly
pocketsphinx
pre-commit
prometheus-client
protobuf
psutil
pvporcupine
pyaes
pyaml
pyasn1
pyaudio
pycparser
pydantic
pydash
pydub
pyinstaller
pylint
pymysql
pyparsing
pypasser
pypdf2
pyrisco
pytelegrambotapi
pytesseract
pytest
pytest-cov
python-dotenv
python-jobspy
python-jose
python-multipart
python_speech_features
pyttsreverso
pytz
pyyaml
quart
quart-cors
rapidfuzz
requests
requests-oauthlib
requests-toolbelt
rsa
sacremoses
schedule
scikit-image
scikit-learn
scipy
sdnotify
selenium
sentencepiece
shodan
sounddevice
soundfile
spotdl
sqlalchemy
sqlite-utils
starlette
starlette_exporter
supabase
swagger-ui-py
tami4edgeapi
telepot
telethon
tensorboardx
tf-keras
torch
tornado
tplinkrouterc6u
transformers
typing-extensions
tzlocal
unidecode
urllib3
uvicorn
validators
wakeonlan
wandb
watchdog
wavchunk
wavinfo
weatheril
webdriver-manager
webrtcvad
werkzeug
whatsapp-api-client-python
whatsapp-chatbot-python
wheel
yamllint
youtube-dl
zipp
